body{
    background: #333;
    color: white;
    
}
.admin{
    background-color: grey;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    color: black;
    margin: 0;
    width: 50%;
    height: 20px;

  }
table{
    width: 100%;
}
#tut {
    background-color: lightgreen;
}
#lab {
    background-color: lightblue;
}

ol{
    background-color: white;
    color: black;
}
div{
    text-align: right;
    height: 50px;
}
